* {
    margin: 0;
    padding: 0;
}

ul, a, .top .header h2{
    text-decoration: none;
    list-style: none;
    color: white;
    margin-right: 20px;
}

.top{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
    padding-top: 10px;
}

.header{
    display: flex;
    justify-content: space-around;
    
}

.top .header h2{
    margin-right: 200px;
    margin-left: 80px;
}

.top .header ul .left{
    margin-left: 50px;
}

.intro{
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    padding: 40px;
}

.intro .content{
    display: flex;
    flex-direction: column;
    width: 300px;
    justify-content: space-between;
    gap: 10px;
}

.intro .content h1{
    font-size: 48px;
    font-weight: 800;
    color: white;
}

.placeholder{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 250px;
    text-align: center;
    background-color: #E5E7EB;
}


.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle .info{
    display: flex;
    flex-direction: column;
    align-items: center
    ;
    gap: 40px;
    padding: 30px;
}

.middle .info div h2{
    font-size: 36px;
    color: #1F2937;
}

.middle .info .pagal{
    display: flex;
    gap: 30px;
    justify-content: center;
}

.middle .info .pagal .wrapper{
    display: flex;
    flex-direction: column;
}

.middle .info .pagal .wrapper .img{
    border-radius: 15px;
    border: 5px solid blue;
    width: 140px;
    height: 140px;
}

.middle .info .pagal .wrapper p{
    width: 140px;
    text-align: center;
    margin-left: 2.9%;
}


.intro .content button{
    width: 90px;
    padding: 7px;
    border-radius: 10px;
    border: none;
    color: white;
    background-color: blue;
}


.middle .quote-wrapper{
    display: flex;
    background-color: #E5E7EB;
    width: 100%;
    justify-content: center;
}

.quote{
    padding: 40px;
    font-size: 36px;
    color: #1F2937;
    width: 680px;
}
.quote .temp p{ 
    float: right;
    font-size: 20px;
    font-weight: 800;
}


.bottom{
    padding: 30px;
}
.bottom div{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 14px;
}

.bottom div .container{
    display: flex;
    width: 880px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
}

.bottom div .container .pers{
    display: flex;
    flex-direction: column;
}

.bottom div .container .button button{
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    width: 90px;
    
}

